html{
	height: 100%;
}
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: Open Sans, Arial, sans-serif;
	overflow-x: hidden;
	height: 100%;
}



/* Top navbar */
/*======================================================*/
.navbar-default{
	z-index: 1;
}
.navbar-default .navbar-brand{
	display: block;
	background-color: #f6a821;
	width: 170px;
	color: #fff;
	text-align: center;
	padding: 15px 0px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active{
	background-color: #f5a212;
	color: #fff;
}
.navbar{
	border: 0px;
}



/* Left sidebar */
/*======================================================*/
.side-navbar{
	position: fixed;
	top: 0;
	bottom: 0;
	width: 170px;
	background-color: #2C3E50;
}
.panel-group{
	margin-bottom: 0px;
}
.panel-group,
.panel-default,
.pannel-heading{
	background-color: transparent;
	border: 0px;
}
.btn-collapse-1{
	padding-left: 50px;
	text-align: left;
}
.btn-collapse-1:hover{
	border-color: #f6a821;
}
.side-navbar-ul a{
	transition: 0.2s;
}
.side-navbar-ul a:hover,
.side-navbar-ul a:focus{
	text-decoration: none;
	color: #fff;
	background-color: #263442;
}
.side-navbar-ul a i{
	width: 34px;
	text-align: center;
}
.side-navbar ul{
	list-style: none;
	margin-top: 100px;
}
.side-navbar ul li a{
	text-decoration: none;
	display: block;
	color: #fff;
	padding: 10px 20px;
}
.side-navbar ul li a i{
	padding: 0px 20px 0px 0px;
}
.side-navbar-logo{
	width: 54px;
	transition: 0.5s ease;
}
.active-nav .side-navbar-logo{
	transform: translate3d(55px, 0, 0);
}
.btn-side-navbar-1 .icon-arrow-1{
	text-align: right;
	padding-top: 4px;
}
.icon-arrow-1{
	transition: 0.2s linear;
	padding-left: 17px;
}
.rotate-arrow-1 .icon-arrow-1{
	transform: rotate(-90deg) translate3d(4px, -8px, 0);
}



/* Right sidebar (sponsors) */
/*======================================================*/
.side-navbar-sponsors{
	height: 35%;
	width: 150px;
	position: fixed;
	margin: auto;
	top: 0px;
	bottom: 0px;
	right: 0px;
	background-color: #9e9e9e;
	z-index: 1;
	transform: translate3d(125px, 0, 0);
	transition: transform 0.5s ease; 
}
.active-nav-sponsors .side-navbar-sponsors{
	transform: translate3d(0, 0, 0);
}
.side-navbar-sponsors .row{
	height: 100%;
	margin: 0px;
}
.side-navbar-sponsors .row .banner-sponsors-img{
	height: 25%;
}
.side-navbar-sponsors .row div span{
	color: #fff;
}
.side-navbar-sponsors .color-bar-sponsors{
	background-color: #f6a821;
	height: 100%;
}
.banner-sponsors-img{
	padding-left: 5px;
	padding-right: 0px;
}



/* Parallax header container */
/*======================================================*/
.parallax-container{
	position: relative;
	background-image: url(../img/header.jpg);
	background-size: cover;
	background-position: top center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	text-align: center;
	transform: translate3d(54px, 0, 0);
	transition: transform 0.5s, padding-right 0.5s ease;
	height: 100%;
}
.logo-header{
	height: 200px;
	width: 100%;
	background-image: url(../img/header_2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	top: 50%;
	margin-top: -100px;
}
.front-robot{
	height: 400px;
	width: 533px;
	background-image: url(../img/portfolio/Robots/robot_soccer_1.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	left: 90%;
	margin-left: -480px;
	top: 58%;
}
.back-robot{
	height: 400px;
	width: 533px;
	background-image: url(../img/portfolio/Robots/robot_soccer_1.png);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	left: 40%;
	margin-left: -480px;
	top: 5%;
	z-index: -1;
}
.active-nav .parallax-container{
	transform: translate3d(170px, 0, 0);
	padding-right: 116px;
}



/*======================================================*/
.content{
	padding-top: 100px;
	padding-bottom: 300px;
	background-color: #d9d9d9; /*#9e9e9e */
	text-align: center;
	transform: translate3d(54px, 0, 0);
	padding-right: 54px;
	transition: transform 0.5s, padding-right 0.5s ease;
}
.active-nav .content{
	transform: translate3d(170px, 0, 0);
	padding-right: 116px;
}


/*======================================================*/
/* About Us CSS */

.about-us-header{
	padding-top: 15%;
	position: relative;
	background-image: url(../img/portfolio/3.jpg);
	background-size: cover;
	background-position: top center;
	font-size: 150%;
	/*margin-top: 100px; */
  	/*padding : 15%; */
	background-attachment: fixed;
	background-repeat: no-repeat;
	transform: translate3d(54px, 0, 0);
	transition: transform 0.5s, padding-right 0.5s ease;
	height: 100%;
	text-align: center;
}
header p{
	padding-left: 5%;
	padding-right: 8%;
}

.image-equipo-background{
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: black;
	opacity: 0.6;
	color: white;
}

.active-nav .about-us-header{
	transform: translate3d(170px, 0, 0);
	padding-right: 116px;
}
.subtitle-mision-vision{
	font-size: 250%;
	color:#f6a821;
	padding-top: 0%;
	margin-top: 0%;
}

.mission-vision {
text-align: center;
padding-top: 0%;
margin-bottom: 20%;
font-size: 200%;
}


.carousel-about-us .carousel-inner .item a img{
	margin: 15%;
	width:100%;
	height: 300%;
	padding-top: 10%

	}
.carousel-caption{
	text-align: center;
	font-size: 150%;
	color:black;
}

/*======================================================*/
/* Events Home CSS */
/* HEADER */
.events-header{
	padding-top:0%;
	position: relative;
	background-image: url(../img/portfolio/15.jpg);
	background-size: 100% 100%;
	background-position: top center;
	font-size: 150%;
	/*margin-top: 100px; */
  	padding : 15%; 
	background-attachment: fixed;
	background-repeat: no-repeat;
	/*transform: translate3d(54px, 0, 0);*/ 
	transform: translate3d(0px,-100px, 0px);
	transition: transform 0.5s, padding-right 0.5s ease;
	text-align: center;
	padding-left:0%;
    width: 100%;
    height: 250%;
}
/*Competitions menu Robocup and LARC */
.menu-competitions
{
	width: 40%;
	height: 300px;
	margin:5%;
	margin-bottom: 10%;
	border-radius: 5%;
}
.menu-competitions h1{
	font-size: 200%;
	padding-top: 0%;
}
.menu-competitions q{
	font-size: 150%;
}
/*events menu */
.events-jumbo img{
 width:70%;
 height: 40%;
 position: relative center;
}

.events-jumbo
{
	height: 10%;
	width: 25%;
	margin-left:5%;
	border-radius: 5%;
	
}
div.events-jumbo:hover
{
	
	text-decoration: underline;
}
#row-down{
	margin-bottom: 20%;
}
#other-header{
	margin-top: 10%;
}
