*{
	margin: 0;
	padding: 0;
}
body{
	font-family: Open Sans, Arial, sans-serif;
	overflow-x: hidden;
}
nav{
	position: fixed;
	top: 0;
	bottom: 0;
	width: 170px;
	background-color: #2C3E50;
}
.panel-group{
	margin-bottom: 0px;
}
.panel-group,
.panel-default,
.pannel-heading,
.btn-experiment{
	background-color: transparent;
	border: 0px;
}
.btn-collapse-1{
	padding-left: 50px;
	text-align: left;
}
.btn-collapse-1:hover{
	border-color: #4cae4c
}
.btn-experiment:hover,
.btn-experiment:focus,
.btn-experiment:active{
	background-color: #263442;
	border: 0px;
}
.active-nav nav{
	transform: translate3d(0, 0, 0);
}
.side-navbar-nav a{
	transition: 0.2s;
}
.side-navbar-nav a:hover,
.side-navbar-nav a:focus{
	text-decoration: none;
	color: #fff;
	background-color: #263442;
	/*transition: 1s;*/
}
.side-navbar-nav a i{
	width: 34px;
	text-align: center;
}
nav ul{
	list-style: none;
	margin-top: 100px;
}
nav ul li a{
	text-decoration: none;
	display: block;
	color: #fff;
	padding: 10px 20px;
}
nav ul li a i{
	padding: 0px 20px 0px 0px;
}
.nav-toggle-btn{
	display: block;
	position: absolute;
	left: 200px;
	height: 40px;
	background-color: #fff;
	opacity: 0.9;
}
.content{
	padding-top: 100px;
	padding-bottom: 300px;
	background-color: #9e9e9e;
	text-align: center;
	transform: translate3d(54px, 0, 0);
	transition: transform 0.4s ease;
}
.active-nav .content{
	transform: translate3d(146px, 0, 0);
}
.icon-bar{
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background-color: #000;
	margin-top: 4px;
}
.btn-side-navbar-1 .icon-arrow-1{
	text-align: right;
	padding-top: 4px;
}
.icon-arrow-1{
	transition: 0.2s linear;
}
.rotate-arrow-1 .icon-arrow-1{
	transform: rotate(-90deg) translate3d(4px, -8px, 0);
}