html{
	height: 100%;
}
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Roboto', Arial, sans-serif;
	overflow-x: hidden;
	height: 100%;
}



/* Top navbar */
/*======================================================*/
.navbar-default{
	/*z-index: 1;*/
}
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand{
	display: block;
	background-color: #f6a821;
	width: 170px;
	color: #fff;
	text-align: center;
	padding: 15px 0px;
	margin-right: 50px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:active{
	background-color: #f5a212;
	color: #fff;
}
.navbar{
	border: 0px;
}
.navbar-default .navbar-nav > li > a{
	color: #fff;
	transition: 0.2s;
	margin-bottom: -5px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
	color: #f6a821;
	background-color: #101010;
}
.navbar-default .navbar-nav > li > a:hover{
	color: #f6a821;
	border-bottom: 5px solid;
	border-color: #f6a821;
}
.navbar-default .navbar-nav > li > .login{
	margin-left: 50px;
}
.navbar-inverse .navbar-toggle{
  	border-color: #f6a821;
 	color: #949ba2;
 	background-color: transparent;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus{
  	color: #fff;
  	background-color: rgba(246, 168, 33, 0.1);
}


/* Left sidebar */
/*======================================================*/
.side-navbar{
	position: fixed;
	top: 0;
	bottom: 0;
	width: 170px;
	background-color: #2C3E50;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
}
.side-navbar .side-navbar-ul{
	list-style: none;
	margin-top: 100px;
	width: 100%;
}
.side-navbar-ul a{
	transition: 0.2s;
}
.side-navbar .side-navbar-ul a:hover{
	text-decoration: none;
	color: #fff;
	background-color: #263442;
}
.side-navbar .side-navbar-ul ul{
	display: none;
}
.side-navbar ul li a{
	text-decoration: none;
	display: block;
	color: #fff;
	padding: 15px 16px;
}
.side-navbar .side-navbar-ul ul li a{
	background: #424242;
	color: #e9e9e9;
}
.side-navbar-logo{
	width: 54px;
	transition: 0.5s ease;
}
.active-nav .side-navbar-logo{
	transform: translate3d(55px, 0, 0);
}
.icon-arrow-1{
	transition: 0.2s linear;
}
.rotate-arrow-1 .icon-arrow-1{
	transform: rotate(-90deg);
}
.icon-arrow-2{
	transition: 0.2s linear;
}
.rotate-arrow-2 .icon-arrow-2{
	transform: rotate(-90deg);
}
.side-navbar .side-navbar-ul .icon{
	font-size: 18px;
	line-height: 20px;
}
.side-navbar .side-navbar-ul .icon.left{
	float: left;
	margin-right: 15px;
}
.side-navbar .side-navbar-ul .icon.right{
	float: right;
	margin-left: 20px;
}
.side-navbar .side-navbar-ul .activado > a{
	color: #fff;
	background-color: #263442; 
}



/* Right sidebar (sponsors) */
/*======================================================*/
.side-navbar-sponsors{
	height: 35%;
	width: 150px;
	position: fixed;
	margin: auto;
	top: 0px;
	bottom: 0px;
	right: 0px;
	background-color: #9e9e9e;
	z-index: 1;
	transform: translate3d(125px, 0, 0);
	transition: transform 0.5s ease; 
}
.active-nav-sponsors .side-navbar-sponsors{
	transform: translate3d(0, 0, 0);
}
.side-navbar-sponsors .row{
	height: 100%;
	margin: 0px;
}
.side-navbar-sponsors .row .banner-sponsors-img{
	height: 25%;
}
.side-navbar-sponsors .row div span{
	color: #fff;
}
.side-navbar-sponsors .color-bar-sponsors{
	background-color: #f6a821;
	height: 100%;
}
.banner-sponsors-img{
	padding-left: 5px;
	padding-right: 0px;
}



/* Parallax header container */
/*======================================================*/
.parallax-container{
	position: relative;
	background-image: url(../img/header.jpg);
	background-size: cover;
	background-position: top center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	text-align: center;
	transform: translate3d(54px, 0, 0);
	transition: transform 0.5s, padding-right 0.5s ease;
	height: 100%;
}
.logo-header{
	height: 200px;
	width: 100%;
	background-image: url(../img/header_2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	top: 50%;
	margin-top: -100px;
}
.front-robot{
	height: 400px;
	width: 533px;
	background-image: url(../img/portfolio/robot_soccer_1.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	left: 90%;
	margin-left: -480px;
	top: 58%;
}
.back-robot{
	height: 400px;
	width: 533px;
	background-image: url(../img/portfolio/robot_soccer_1.png);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	left: 40%;
	margin-left: -480px;
	top: 5%;
	z-index: -1;
}
.active-nav .parallax-container{
	transform: translate3d(170px, 0, 0);
	padding-right: 116px;
}



/* Login page styles */
/*======================================================*/
.login-header{
	position: relative;
	height: 100%;
	background-color: #2C3E50;
	padding-top: 50px;
}
.login-header .div-logo{
	text-align: center;
}
.login-header .logo-img{
	width: 500px;
}
.login-header .login-container{
	width: 400px;
	margin: 40px auto 10px;
	background-color: #9e9e9e;
	border-radius: 7px;
	padding: 10px 30px 30px;
	color: #424242;
}
.login-header .login-container .icon.left{
	margin-right: 10px;
}
.login-header .login-container form .login-input,
.login-header .login-container form h3{
	padding-bottom: 15px;
	text-align: center;
}
.login-header .login-container form div .form-control{
	background-color: #e9e9e9;
	height: 43px;
	border-radius: 3px;
}
.login-btn-section{
	padding-top: 10px;
	padding-bottom: 10px;
}
.login-btn{
	background-color: #2C3E50;
	color: #e9e9e9;
	border-color: #2C3E50;
}
.login-btn:hover{
	background-color: #23313F;
	color: #e9e9e9;
	border-color: #23313F;
}
.back-to-home-btn{
	background-color: #e9e9e9;
	color: #999;
	border-radius: 3px;
}



/*======================================================*/
.content{
	padding-top: 100px;
	padding-bottom: 300px;
	background-color: #9e9e9e;
	text-align: center;
	transform: translate3d(54px, 0, 0);
	padding-right: 54px;
	transition: transform 0.5s, padding-right 0.5s ease;
}
.active-nav .content{
	transform: translate3d(170px, 0, 0);
	padding-right: 116px;
}